/* @extend display-flex; */
display-flex, .frr, ul, .title, .actions ul li a, .fdt .select-icon, .form-date-item .select-icon i, .fdg {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 20px;
  color: #222;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  padding-top: 35px; }


.cmd {
  width: 630px;
  position: relative;
  margin: 0 auto;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
}

.signup-form {
  padding: 32px 90px 40px 90px; }

input, select {


  width: 100%;
  border: 1px solid #e6be1e;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  font-family: 'Roboto Slab';
  font-size: 13px;
  padding: 15px 20px; }



.frm, .slc, .dt {
  margin-bottom: 15px;
  position: relative; }

.frr {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between; }
.frr .slc {
  width: 160px; }

label {
  display: block;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px; }



.steps {
  margin-bottom: 23px; }
.steps ul {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between; }

a {
  text-decoration: none !important; }

.ic {
  font-size: 29px; }
.icon:hover{
  text-decoration: none !important;
}

.title {
  background: #adadad;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  width: 90px;
  height: 90px;
  color: #fff; }

.title_text {
  margin-top: -5px; }

.current .title {
  background: #e6be1e; }

.content h3 {
  display: none; }

fieldset {
  border: none;
  margin: 0px;
  padding: 0px; }

.actions {
  margin-top: 25px; }
.actions .disabled {
  display: none; }
.actions ul {
  justify-content: flex-end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -o-justify-content: flex-end;
  -ms-justify-content: flex-end; }
.actions ul li {
  margin-left: 10px; }
.actions ul li:first-child a {
  background: #adadad; }
.actions ul li a {
  background: #A9A9A9;
  width: 130px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }
.actions ul li a:hover {
  background-color: #e6be1e; }


label.error:after {
  font-family: 'themify';
  position: absolute;
  content: '\e717';
  right: 20px;
  top: 40px;
  font-size: 13px;
  color: #ff1212; }

input.error {
  border: 1px solid #ff1212; }



legend {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 17px;
  margin-bottom: 20px; }
legend span {
  display: inline-block; }

.step-heading {
  color: #e6be1e;
  float: left; }

.step-number {
  float: right; }

.fdt {
  position: relative;
  overflow: hidden; }
.fdt:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 30px;
  background: #ebebeb;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }
.fst:last-child:after {
  width: 0px; }
.fdt .select-icon {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }
.fdt .select-icon i {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  width: 30px;
  height: 20px;
  font-size: 10px;
  color: #222; }

.ui-datepicker-trigger {
  position: absolute;
  right: 10px;
  top: 20px;
  color: #222;
  font-size: 10px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

.fdg {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; }
.fdg select {
  border: none;
  width: 90px;
  box-sizing: border-box;
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  position: relative;
  background: 0 0;
  z-index: 10;
  cursor: pointer; }

.select-list {
  position: relative;
  display: contents;
  width: 100%;
 }

.list-item {
  position: absolute;
  width: 100%;
  z-index: 99; }

@media screen and (max-width: 768px) {
  .con {
    width: calc(100% - 40px);
    max-width: 100%; }

  .steps ul, .frr{
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }



  .frr .dt, .frr .slc {
    width: 100%; } }
@media screen and (max-width: 480px) {
  .signup-form {
    padding-left: 30px;
    padding-right: 30px; } }

/*# sourceMappingURL=style.css.map */
